certifi==2021.10.8+computecanada
charset_normalizer==2.0.7+computecanada
click==8.0.3+computecanada
colorama==0.4.4+computecanada
coloredlogs==15.0.1+computecanada
colormath==3.0.0+computecanada
commonmark==0.9.1+computecanada
cycler==0.11.0
future==0.18.2+computecanada
humanfriendly==10.0
idna==3.3+computecanada
Jinja2==3.0.2+computecanada
kiwisolver==1.3.1+computecanada
lzstring==1.0.4+computecanada
Markdown==3.3.4+computecanada
MarkupSafe==2.0.1+computecanada
matplotlib==3.4.2+computecanada
multiqc==1.11+computecanada
networkx==2.6.3+computecanada
numpy==1.21.2+computecanada
Pillow==8.4.0+computecanada
Pygments==2.10.0+computecanada
pyparsing==3.0.4+computecanada
python-dateutil==2.8.2+computecanada
PyYAML==5.4.1+computecanada
requests==2.26.0+computecanada
rich==10.12.0
simplejson==3.17.3+computecanada
six==1.16.0+computecanada
spectra==0.0.11+computecanada
urllib3==1.26.7+computecanada
